        /* HEADER CSS */
#container{
    height: 100px;
    background-color:rgba(0,0,255,0.5);
    background-image:url(../img/pattern.png);
    background-size: 30%;
}
   
#logo{
    height: 60px;
}
    
.special{
    font-size: small;
    color: lightgrey;
}


#blog{
    color: lightblue;
}

.caption{
    font-size: x-small;
}


/* FINE CSS HEADER */
        
        
        /* INIZIO CSS MAIN */

#not-spacing{
    border: 1px solid #20A9E5;
    border-collapse: separate;
    border-spacing: 0px;
}

#thead-color{
    background-color: #20A9E5;
    color: white;
    text-align: left;
}

.odd-row{
    background-color: #B1E5F2;
}

.cell-width{
    width: 50%;
}

.article{
    width: 250px;
    height: 200px;
    background-size: cover;
    background-position: center;
    
}

#monitor-image{
    background-image: url(../img/monitor2.jpg);
}

#graph-image{
    background-image: url(../img/graph.jpg);
}

.article{
    color: white;
    font-size: 20px;
}
        /* FINE CSS MAIN */


