#container{

    background-color:rgba(0,0,255,0.5);
    background-image:url(../img/pattern.png);
    background-size: contain;
    background-repeat:repeat;
   
}
    
#logo{
    width: 150px;
}

.special{
    font-size: x-small;
    color: lightgrey;
}

#blog{
    color: lightblue;
}

.caption{
    font-size: x-small;
}




